/* Lavanderia-Sturdy */

@font-face {
  font-family: 'Lavanderia-Sturdy';
  src: url("/website_twelve/static/src/font/Lavanderia-Sturdy.eot?#iefix") format("embedded-opentype"), 
  url("/website_twelve/static/src/font/Lavanderia-Sturdy.otf") format("opentype"), 
  url("/website_twelve/static/src/font/Lavanderia-Sturdy.woff") format("woff"), 
  url("/website_twelve/static/src/font/Lavanderia-Sturdy.ttf") format("truetype"), 
  url("/website_twelve/static/src/font/Lavanderia-Sturdy.svg#Lavanderia-Sturdy") format("svg");
  font-weight: normal;
  font-style: normal; 
}